* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #191765;
}

/* header {
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  margin-bottom: 10px;
  margin-right: 24px;
  padding-top: 40px;
  width: 100%;
  height: 20px;
} */

.header-toolbar {
  min-height: 4rem;
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  opacity: 1;
  width: 100%;
  justify-content: space-between;
}

.my-logo {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.my-logo:hover {
  text-decoration: none;
}

.my-logo:active {
  text-decoration: none;
}

.my-logo:visited {
  text-decoration: none;
}

.content-headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../images/headline_bg.svg");
  background-repeat: no-repeat;
  min-height: 40vh;
}

.content-headline-section > h1 {
  color: #7d73fc;
  font-weight: bold;
  line-height: 72px;
  font-size: 48px;
  padding: 1.2rem;
  font-style: normal;
  letter-spacing: 0.37px;
  text-align: center;
  background-color: transparent;
  font-family: Roboto, sans-serif;
}

.content-headline-section > h2 {
  color: #edecff;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
}

.content-headline-section > p {
  color: #c8c8d4;
  padding: 2rem;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  background-color: transparent;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.bars-icons {
  color: #fff;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #9490ff;

  /* padding: 0.6rem 1.2rem 0.6rem 1.2rem; */

  padding: 0.6rem 1.2rem;
  background-color: transparent;
}
